---
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";
import Prose from "../../components/prose.astro";
import Layout from "../../layout/layout.astro";

const posts = await getCollection("about");
const post = posts.find((p) => p.slug === "about");

const aboutHeading =
  "I am Anirban Sikdar, an Associate Engineer working at the intersection of Computer Science, AI, and ML. I focus on building production-ready, data-driven systems, including machine learning pipelines and interactive visualizations.";
const aboutDescription =
  "My background includes technical leadership as a former Student Dean and Head of Google Technologies. I’m deeply interested in Space Technology, Orbital Mechanics, and Deep Space exploration.";

if (!post) {
  throw new Error(
    "Content for 'about/about' not found. Please ensure src/content/about/about.mdx exists.",
  );
}
const { Content } = await post.render();

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}",
);
if (!images[post.data.imagePath])
  throw new Error(
    `"${post.data.imagePath}" does not exist in glob: "/images/*.{jpeg,jpg,png,gif}"`,
  );
---

<Layout
  title="About"
  description={post.data.description}
  imagePath="https://gitlab.com/anirban-1009/anirban.codes/-/raw/main/public/images/SocialHero.jpg?ref_type=heads"
>
  <div
    class="lg:flex lg:px-24 lg:pt-20 lg:gap-12 lg:justify-between dark:text-primary"
  >
    <!-- Desktop About Heading -->
    <p class="lg:hidden py-4 text-5xl font-semibold">{post.data.title}</p>
    <Image
      src={images[post.data.imagePath]()}
      alt="About Hero"
      height="356"
      width="356"
      class="rounded-full lg:hidden"
      loading="eager"
    />
    <div class="py-6 lg:text-lg">
      <!-- Mobile About Heading -->
      <p class="hidden lg:block py-4 text-5xl font-semibold">
        {post.data.title}
      </p>
      {aboutHeading}
      <br /><br />
      {aboutDescription}
    </div>
    <Image
      src={images[post.data.imagePath]()}
      alt="About Hero"
      height="356"
      width="356"
      class="hidden lg:block rounded-full"
      loading="eager"
    />
  </div>
  <Prose>
    <div class="lg:w-dvw lg:px-52 lg:pb-12 lg:text-lg lg:text-pretty">
      <Content />
    </div>
  </Prose>
</Layout>
